<title>Exobiology</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css">

<body>
    <nav>
        <a href="/">Home&nbsp;</a>
        <a href="/new">&nbsp;Add</a>
    </nav>
</body>